
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <form action="DisplayTodaysDate" method="post">
        <p>
            Click to display today's date
        </p>
        <input name="Get Date" type="submit" />
    </form>
    <p>
        Today's Date: @Model
    </p>
</div>
